

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet'/>

<style>

*, *:before, *:after {
    box-sizing: inherit;
	margin:0;
	padding:0;
}

div {display:block;}

body {
    background-color: #e9ebee;
 	font-family: &#39;Source Sans Pro&#39;, serdddif;
    font-size: 18px;
    margin: 0;
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
    min-height: 100%;
    height: 100%;
    position: relative;
    padding: 0 0 1px;
	color: #222;
}

ul, nav ul, li {
    list-style-type: none;
}

a {
    text-decoration: none;
}


img {
    border: 0;
}

h1 {
    font-size: 1.5em;
    margin: 0.67em 0;
    line-height: 4.62rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

h2 {
    font-size: 3.56rem;
    line-height: 3.916rem;
    margin: 1.78rem 0 1.424rem 0;
}

h3 {
    font-size: 3.56rem;
    line-height: 3.916rem;
    margin: 1.78rem 0 1.424rem 0;
}


#header {
    margin-top: -15px
}


nav {
    color: #fff;
    width: 100%;
    height: 56px;
    line-height: 56px;
	display: block;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

nav ul li {
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -o-transition: background-color .3s;
    -ms-transition: background-color .3s;
    transition: background-color .3s;
    float: left;
    padding: 0;
}

nav ul li:hover, nav ul li.active {
    background-color: rgba(0,0,0,0.1);
}

nav ul a {
    font-size: 1rem;
    color: #fff;
    display: block;
    padding: 0 15px;
}

nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
}

nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 64px;
    line-height: 64px;
}

.nav-top {
    z-index: 99;
}


.fooontainer {
    margin-bottom: 15px;

}

.first-top ul li a {
    font-size: 13px;
}

.first-top, .first-top .nav-wrapper i, .first-top a.button-collapse, .first-top a.button-collapse i {
    font-size: 15px;
    height: 30px;
    line-height: 30px;
}

.container {
    padding: 0 1.5rem;
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}


.logo-main {
    padding: 0 15px !important;
}

.logo-main h1 {
    margin: 0;
    line-height: inherit;
    font-size: inherit;
    display: inline-block;
}

.img-logo-main {
    width: 45px;
    height: 43px;
    margin-top: 10px;
}


.img-logo-main, .img-post-span {
    float: left;
    margin-right: 15px;
}


.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
}


.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.container .row {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}


.row .col {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0.75rem;
}

.row .col.s12 {
    width: 100%;
    margin-left: 0;
}

.row .col.m12 {
    width: 100%;
    margin-left: 0;
}

.row .col.l8 {
    width: 66.66667%;
    margin-left: 0;
}

.cyan {
    background-color: #00bcd4 !important;
}

.cyan.darken-1 {
    background-color: #00acc1 !important;
}
.cyan.darken-2 {
    background-color: #0097a7 !important;
}



/*css for main */
.date-header {
    display: none;
}

.post-start {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    background: #fff;
    position: relative;
    box-shadow: 0px 0px 0px 1px #ddd;
    -webkit-box-shadow: 0px 0px 0px 1px #ddd;
    -moz-box-shadow: 0px 0px 0px 1px #ddd;
    .blog-pager-element a{background: #E91E63;
    }-o-box-shadow: 0px 0px 0px 1px #ddd;
}

.md-card {
    position: relative;
    overflow: hidden;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    border-radius: 2px;
    -webkit-box-shadow: #dddee0 0 3px 1px 0;
    -moz-box-shadow: #dddee0 0 3px 1px 0);
    box-shadow: #dddee0 0 3px 1px 0);
    overflow: hidden;
}

.home-post-single {
    padding: 20px;
    padding-left: 240px;
}

.post-home-title {
    z-index: 5;
    position: relative;
    margin: 0;
    font-size: 25px;
    line-height: 35px;
    font-weight: 500;
    max-height: 66px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-main-home-title a {
    color: #616161 !important;
}

.post-header {
    font-size: 13px;
}

.post-labels {
    position: absolute;
    top: 0;
    left: 5px;
    z-index: 5;
}

body, .post-labels a, .post-comment-link a, .post-timestamp a, .post-main-home-title a {
    color: #616161 !important;
}

.post-outer .post-labels a {
    display: none;
}


.home-post-above .post-labels a {
    padding: 0px 1.3em;
    margin: 5px 2px;
    background-color: #F5F5F5 !important;
}

.home-post-above .post-labels a {
    padding: 0px 1.3em;
    margin: 5px 2px;
    background-color: #F5F5F5 !important;
}

.post-outer .post-labels a:last-child {
    display: inline-block;
    z-index: 2;
}

.btn, .btn-large {
    text-decoration: none;
    color: #FFF;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    -ms-transition: .2s ease-out;
    transition: .2s ease-out;
    cursor: pointer;
}

.btn, .btn-large, .btn-flat {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    outline: 0;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.post-comment-link, .post-timestamp {
    margin-left: 0px;
}

.post-author.vcard, .post-comment-link, .post-single-outer .post-labels a, .post-timestamp {
    margin: 5px 2px !important;
    font-size: 12px;
}

.post-author.vcard, .post-comment-link, .post-single-outer .post-labels a, .post-timestamp {
    background: #F0F0F0 !important;
    color: #616161 !important;
}

.post-author.vcard, .post-comment-link, .post-single-outer .post-labels a, .post-timestamp {
    padding: 3px 6px;
    display: inline-block;
    margin: 5px 0;
    border-radius: 3px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}


.post {
    color: #616161;
    margin-bottom: 10px;
    position: initial;
}

.rmlink {
    float: right;
}

.rmlink a {
    height: 25px;
    line-height: 25px;
    outline: 0;
    padding: 0 1rem;
    font-size: 13px;
    margin-bottom: 20px;
    margin-top: 5px;
    color: #616161;
    box-shadow: 0px 1px 3px #CCCCCC;
}


/*SideBar*/
.sidebar h3 {
    padding: 10px 0 5px;
    font-size: 24px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}

.sidebar h3 {
    color: #02c4d9 !important;
}

.sidebar .widget {
    line-height: inherit !important;
    color: #808080;
    margin: 0px 0px 10px 0px;
}

.sidebar .widget-content {
    padding-bottom: 10px;
    padding-top: 5px;
    margin: 0;
}

.sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.popular-posts .collection {
    border: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.sidebar li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar li {
    margin: 0 0 0 15px;
    padding: 0 0 5px;
    text-transform: capitalize;
}


.sidebar ul li {
    height: 100%;
    line-height: 22px;
    clear: left;
    margin: 3px 10px 3px 0px;
}

.sidebar ul li {
    text-decoration: none;
}

.collection .collection-item {
    background-color: #fff;
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
}


.collection .collection-item.avatar {
    height: 84px;
    padding-left: 72px;
    position: relative;
}

.collection .collection-item.avatar {
    height: inherit;
    padding: 10px 10px 10px 72px!important;
}

.sidebar ul a {
    color: #616161;
}

.sidebar .widget-content a {
    color: #616161;
}

.circle {
    border-radius: 50%;
}

.PopularPosts img {
    padding: inherit;
}

.collection .collection-item.avatar .circle {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
}

.collection .collection-item.avatar .title {
    font-size: 16px;
}

.collection .collection-item.avatar .title, .join-fostrap {
    font-weight: 800;
}

a {
    text-decoration: none;
}
a {
    color: #039be5;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

a {
    background-color: transparent;
}


.collection .collection-item.avatar .title, .join-fostrap {
    font-weight: 700;
}

.item-snippet {
    color: #919191;
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/*footer*/
footer.page-footer {
    margin-top: 20px;
    padding-top: 20px;
    background-color: transparent;
}

#footer .section {
    padding: 0 !important;
}

footer.page-footer .footer-copyright, .light {
	font-weight: 300;
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    color: rgba(255,255,255,0.8);
    background-color: rgba(51,51,51,0.08);
}





@media only screen and (min-width: 993px) {
    .row .col.l1 {
        width: 8.33333%;
        margin-left: 0
    }
    .row .col.l2 {
        width: 16.66667%;
        margin-left: 0
    }
    .row .col.l3 {
        width: 25%;
        margin-left: 0
    }
    .row .col.l4 {
        width: 33.33333%;
        margin-left: 0
    }
    .row .col.l5 {
        width: 41.66667%;
        margin-left: 0
    }
    .row .col.l6 {
        width: 50%;
        margin-left: 0
    }
    .row .col.l7 {
        width: 58.33333%;
        margin-left: 0
    }
    .row .col.l8 {
        width: 66.66667%;
        margin-left: 0
    }
    .row .col.l9 {
        width: 75%;
        margin-left: 0
    }
    .row .col.l10 {
        width: 83.33333%;
        margin-left: 0
    }
    .row .col.l11 {
        width: 91.66667%;
        margin-left: 0
    }
    .row .col.l12 {
        width: 100%;
        margin-left: 0
    }
    .row .col.offset-l1 {
        margin-left: 8.33333%
    }
    .row .col.offset-l2 {
        margin-left: 16.66667%
    }
    .row .col.offset-l3 {
        margin-left: 25%
    }
    .row .col.offset-l4 {
        margin-left: 33.33333%
    }
    .row .col.offset-l5 {
        margin-left: 41.66667%
    }
    .row .col.offset-l6 {
        margin-left: 50%
    }
    .row .col.offset-l7 {
        margin-left: 58.33333%
    }
    .row .col.offset-l8 {
        margin-left: 66.66667%
    }
    .row .col.offset-l9 {
        margin-left: 75%
    }
    .row .col.offset-l10 {
        margin-left: 83.33333%
    }
    .row .col.offset-l11 {
        margin-left: 91.66667%
    }
    .row .col.offset-l12 {
        margin-left: 100%
    }
}


@media (min-width:993px) {
    .container {
        width: 90%! important;
    }
}







</style> 
